name: Build and Publish Maven artifacts
on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
                
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build project
        run: ./gradlew clean build

      - name: Set version variable
        run: |
          TAG=${{ github.ref_name }}
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV

      - name: Publish to maven registry
        run: |
            ./gradlew publish \
            -PartifactVersion=${VERSION} \
            -Dorg.gradle.project.gitHubUser=${{ github.actor }} \
            -Dorg.gradle.project.gitHubToken=${{ secrets.GITHUB_TOKEN }}
